In [2]:
import numpy as np 
import pandas as pd

In [4]:
data =pd.read_excel('data/arv_dci_atc.xlsx')

In [5]:
data.head()

,ARV,DCI,ATC
0,Combivir + Kalétra,LAMIVUDINE / ZIDOVUDINE + LOPINAVIR / RITONAVIR,J05AR01 + J05AR10
1,Isentress + Truvada,RALTÉGRAVIR POTASSIQUE + EMTRICITABINE / TÉNOF...,J05AJ01 + J05AR03
2,Isentress + Kivexa,RALTÉGRAVIR POTASSIQUE + ABACAVIR (SULFATE D')...,J05AJ01 + J05AR02
3,Triumeq,DOLUTÉGRAVIR SODIQUE / LAMIVUDINE / SULFATE D'...,J05AR13
4,Genvoya,COBICISTAT / ELVITÉGRAVIR / EMTRICITABINE / FU...,J05AR18

In [6]:
# Sélectionner toutes les lignes où "INTROUVABLE" apparaît dans la colonne dci
introuvables = data[data["DCI"].str.contains("INTROUVABLE", na=False)]

introuvables

,ARV,DCI,ATC
8,Retrovir + Videx,ZIDOVUDINE + INTROUVABLE (VIDEX),J05AF01 + NON_TROUVE
9,Retrovir + Videx + Invirase,ZIDOVUDINE + INTROUVABLE (VIDEX) + INTROUVABLE...,J05AF01 + NON_TROUVE + NON_TROUVE
10,Zerit + Epivir + Viracept,INTROUVABLE (ZERIT) + LAMIVUDINE + INTROUVABLE...,NON_TROUVE + J05AF05 + NON_TROUVE
12,Epivir + Viracept + Zerit,LAMIVUDINE + INTROUVABLE (VIRACEPT) + INTROUVA...,J05AF05 + NON_TROUVE + NON_TROUVE
18,Videx,INTROUVABLE (VIDEX),NON_TROUVE
...,...,...,...
19210,Crixivan + Epivir + Norvir + Prezista + Retrovir,INTROUVABLE (CRIXIVAN) + LAMIVUDINE + RITONAVI...,NON_TROUVE + J05AF05 + J05AE03 + J05AE10 + J05...
19211,Crixivan + Epivir + Norvir + Prezista + Retrov...,INTROUVABLE (CRIXIVAN) + LAMIVUDINE + RITONAVI...,NON_TROUVE + J05AF05 + J05AE03 + J05AE10 + J05...
19214,Epivir + Norvir + Videx + Viramune + Ziagen + ...,LAMIVUDINE + RITONAVIR + INTROUVABLE (VIDEX) +...,J05AF05 + J05AE03 + NON_TROUVE + J05AG01 + J05...
19215,Fuzeon + Trizivir + Viread + TMC 114,ENFUVIRTIDE + INTROUVABLE (TRIZIVIR) + FUMARAT...,J05AX07 + NON_TROUVE + J05AF07 + NON_TROUVE
19216,Norvir + Truvada + Ziagen + TMC 114 (Darunavir...,RITONAVIR + EMTRICITABINE / TÉNOFOVIR DISOPROX...,J05AE03 + J05AR03 + J05AF06 + J05AE10 + NON_TR...

In [7]:
import re

# Fonction pour extraire tous les mots entre parenthèses après INTROUVABLE
def extract_introuvable_meds(text):
    return re.findall(r'INTROUVABLE \((.*?)\)', text)

# Appliquer la fonction à la colonne DCI de ton dataframe introuvables
all_meds = [med for sublist in introuvables["DCI"].apply(extract_introuvable_meds) for med in sublist]

# Créer un nouveau DataFrame avec une seule colonne
df_introuvables_mots = pd.DataFrame(all_meds, columns=["Nom_introuvable"])

df_introuvables_mots

      Nom_introuvable
0               VIDEX
1               VIDEX
2            INVIRASE
3               ZERIT
4            VIRACEPT
...               ...
22520        CRIXIVAN
22521           VIDEX
22522        TRIZIVIR
22523         TMC 114
22524         TMC 125

[22525 rows x 1 columns]

In [8]:
L = df_introuvables_mots['Nom_introuvable'].unique()

In [9]:
L

array(['VIDEX', 'INVIRASE', 'ZERIT', 'VIRACEPT', 'HIVID', 'SUSTIVA',
       'CRIXIVAN', 'TENOFOVIR ALAFENAMIDE', 'TRIZIVIR', 'ATRIPLA',
       'DOLUTEGRAVIR', 'AGENERASE', 'ABT 378', 'FORTOVASE', 'MACROLIN',
       'BACTRIM', 'MYAMBUTOL', 'TÉNOFOVIR', 'RALTEGRAVIR', 'TMC 278',
       'MK-0518', 'TLD', 'TMC 114', 'TMC 125', 'RESCRIPTOR', 'ISLATAVIR',
       'DORAVIRINE/ISLATAVIR', 'E/C/F TENOFOVIR ALAFENAMIDE',
       'CAPRAVIRINE', 'DESCOVY', 'TROGARZO', 'LENACAPAVIR', 'FOSTEMSAVIR',
       'REVERSET', 'GSK1265744', 'DARUNAVIR/COBI/TAF/FTC', 'MIV 310',
       'GS9883/F/TENOFOVIR ALAFENAMIDE', 'FOS AMPRENAVIR',
       'TDF/3TD/DOLUTEGRAVIR', 'GSK3640254', 'REZOLSTA', 'LOVIRIDE',
       'GSK1349572', 'PRO TÉNOFOVIR', 'GSK2248761', 'COVIRACIL',
       'VIRAFERON PEG', 'VIEKIRAX', 'DOLUTÉGRAVIR', 'GS 9350', 'GW385',
       'PRO AMPRENAVIR', 'APLAVIROC', 'INTERFERON',
       'TRAITEMENT ANTIRETROVIRAL INCONNU', 'ALUVIA', 'MK1439', 'EVOTAZ',
       'VICRIVIROC', 'DORAVIRINE/ISLATRAVIR', 'ALOVUDINE', 'VISTIDE',
       'BICTÉGRAVIR', 'TDF/EMTRICITABINE/MK-1439', 'ISLATRAVIR',
       'ANTI CCR5', 'MK0518', 'MK8591', 'BMS955176', 'VACCINOTHÉRAPIE',
       'MK8507', 'SAQUINAVIR', 'RÉBÉTOL', 'INTERFÉRON PEGYLÉ',
       'TMC114IFD3013 EMERALD', 'SYMTUZA', 'COPEGUS / RÉBÉTOL', 'COPEGUS',
       'HEPSERA', 'EMIRIVINE', 'AMDOXOVIR', 'DUTREBIS'], dtype=object)

In [10]:
import pandas as pd

# Créer un DataFrame à partir de la liste numpy
df_uniques2 = pd.DataFrame(L, columns=["Nom_introuvable"])

df_uniques2

   Nom_introuvable
0            VIDEX
1         INVIRASE
2            ZERIT
3         VIRACEPT
4            HIVID
..             ...
78         COPEGUS
79         HEPSERA
80       EMIRIVINE
81       AMDOXOVIR
82        DUTREBIS

[83 rows x 1 columns]

In [11]:
df_uniques2.to_excel("data/out/INTROUVABLE_ARV.xlsx", index=False)

In [12]:
data =pd.read_excel('data/Med_Hep_dci_atc.xlsx')

In [13]:
# Sélectionner toutes les lignes où "INTROUVABLE" apparaît dans la colonne dci
introuvables = data[data["DCI"].str.contains("INTROUVABLE", na=False)]

introuvables

,Med_Hep,DCI,ATC
0,Copegus + Pegasys,INTROUVABLE (COPEGUS) + PEGINTERFÉRON ALFA-2A,NON_TROUVE + L03AB11
1,Rébétol + Viraferon Peg,INTROUVABLE (RÉBÉTOL) + INTROUVABLE (VIRAFERON...,NON_TROUVE + NON_TROUVE
2,Viraferon Peg,INTROUVABLE (VIRAFERON PEG),NON_TROUVE
6,Viraféron,INTROUVABLE (VIRAFÉRON),NON_TROUVE
7,Interferon + Rébétol,INTROUVABLE (INTERFERON) + INTROUVABLE (RÉBÉTOL),NON_TROUVE + NON_TROUVE
...,...,...,...
279,Daklinza + Sofosbuvir / Velpatasvir (Epclusa),INTROUVABLE (DAKLINZA) + SOFOSBUVIR / VELPATASVIR,NON_TROUVE + J05AP55
280,Copegus + Introna + Pegasys,INTROUVABLE (COPEGUS) + INTROUVABLE (INTRONA) ...,NON_TROUVE + NON_TROUVE + L03AB11
281,Copegus + Interferon + Pegasys,INTROUVABLE (COPEGUS) + INTROUVABLE (INTERFERO...,NON_TROUVE + NON_TROUVE + L03AB11
283,Incivo (Telaprevir) + Pegasys,INTROUVABLE (TELAPREVIR) + PEGINTERFÉRON ALFA-2A,NON_TROUVE + L03AB11
284,Emtricitabine (Emtriva) + Hepsera,EMTRICITABINE + INTROUVABLE (HEPSERA),J05AF09 + NON_TROUVE

In [14]:
import re

# Fonction pour extraire tous les mots entre parenthèses après INTROUVABLE
def extract_introuvable_meds(text):
    return re.findall(r'INTROUVABLE \((.*?)\)', text)

# Appliquer la fonction à la colonne DCI de ton dataframe introuvables
all_meds = [med for sublist in introuvables["DCI"].apply(extract_introuvable_meds) for med in sublist]

# Créer un nouveau DataFrame avec une seule colonne
df_introuvables_mots = pd.DataFrame(all_meds, columns=["Nom_introuvable"])

df_introuvables_mots

    Nom_introuvable
0           COPEGUS
1           RÉBÉTOL
2     VIRAFERON PEG
3     VIRAFERON PEG
4         VIRAFÉRON
..              ...
460         INTRONA
461         COPEGUS
462      INTERFERON
463      TELAPREVIR
464         HEPSERA

[465 rows x 1 columns]

In [ ]:
df_combined.to_excel("df_uniques2_combined.xlsx", index=False)

In [15]:
L2 = df_introuvables_mots['Nom_introuvable'].unique()

In [16]:
import pandas as pd

# Créer un DataFrame à partir de la liste numpy
df_uniques = pd.DataFrame(L2, columns=["Nom_introuvable"])
print(df_uniques.shape)
df_uniques

(44, 1)

                      Nom_introuvable
0                             COPEGUS
1                             RÉBÉTOL
2                       VIRAFERON PEG
3                           VIRAFÉRON
4                          INTERFERON
5                   COPEGUS / RÉBÉTOL
6                             HEPSERA
7                            VIEKIRAX
8                              INCIVO
9               SOFOSBUVIR/LEDIPASVIR
10                           DAKLINZA
11                         SIMEPREVIR
12                            INTRONA
13                         TELAPREVIR
14                        ASUNAPREVIR
15                        DACLASTAVIR
16                           ZEPATIER
17                            ROFÉRON
18                             OLYSIO
19                        DACLATASVIR
20                         BOCEPREVIR
21                             MK5172
22                             MK8742
23                        BULEVIRTIDE
24                          DASABUVIR
25  OMBITASVIR/PARITAPREVIR/RITONAVIR
26                            ABT-267
27                        ABT- 450/ R
28                            ABT-333
29                         BMS 79 002
30                          VICTRELIS
31                            ABT-493
32                            ABT-530
33               TMC 435 ANTIPROTÉASE
34                             ALUVIA
35           BI 207127 ANTIPOLYMÉRASE
36             BI 201335 ANTIPROTÉASE
37                          VIRAFERON
38                              VIDEX
39                  INTERFÉRON PEGYLÉ
40                          MYRCLUDEX
41                            MK5172A
42                         ETHAMBUTOL
43                             TMC207

In [18]:
df_uniques.to_excel("data/out/INTROUVABLE_Med_Hep.xlsx", index=False)

In [19]:
# 1) intersection: noms présents dans les deux
intersect = pd.Series(list(set(df_uniques["Nom_introuvable"]).intersection(set(df_uniques2["Nom_introuvable"]))))
print("Nombres d'éléments communs :", len(intersect))

Nombres d'éléments communs : 10

In [20]:
# 2) afficher les lignes de df_uniques qui sont aussi dans df_uniques2
mask_in_both = df_uniques["Nom_introuvable"].isin(df_uniques2["Nom_introuvable"])
df_in_both = df_uniques[mask_in_both].reset_index(drop=True)
print("Lignes de df_uniques présentes aussi dans df_uniques2 :", df_in_both.shape[0])
print(df_in_both.head(20))

Lignes de df_uniques présentes aussi dans df_uniques2 : 10
     Nom_introuvable
0            COPEGUS
1            RÉBÉTOL
2      VIRAFERON PEG
3         INTERFERON
4  COPEGUS / RÉBÉTOL
5            HEPSERA
6           VIEKIRAX
7             ALUVIA
8              VIDEX
9  INTERFÉRON PEGYLÉ

In [21]:
# 3) supprimer ces lignes de df_uniques
df_uniques_cleaned = df_uniques[~mask_in_both].reset_index(drop=True)
print("Nouvelle taille de df_uniques après suppression :", df_uniques_cleaned.shape)

Nouvelle taille de df_uniques après suppression : (34, 1)

In [22]:
# 4) ajouter le reste à df_uniques2 puis enlever les doublons
df_combined = pd.concat([df_uniques2, df_uniques_cleaned], ignore_index=True)
df_combined = df_combined.drop_duplicates(subset=["Nom_introuvable"], keep="first").reset_index(drop=True)
print("Taille finale de df_uniques2 après ajout :", df_combined.shape)

Taille finale de df_uniques2 après ajout : (117, 1)

In [29]:
df_combined.to_excel("data/out/INTROUVABLE.xlsx", index=False)
print("Fichier sauvegardé : df_uniques2_combined.xlsx")

Fichier sauvegardé : df_uniques2_combined.xlsx

In [30]:
df_combined

    Nom_introuvable Nom_introuvable_clean
0             VIDEX                 videx
1          INVIRASE              invirase
2             ZERIT                 zerit
3          VIRACEPT              viracept
4             HIVID                 hivid
..              ...                   ...
112       VIRAFERON             viraferon
113       MYRCLUDEX             myrcludex
114         MK5172A               mk5172a
115      ETHAMBUTOL            ethambutol
116          TMC207                tmc207

[117 rows x 2 columns]

In [24]:
df_combined["Nom_introuvable"].value_counts()

Nom_introuvable
VIDEX                     1
INTERFÉRON PEGYLÉ         1
DAKLINZA                  1
SOFOSBUVIR/LEDIPASVIR     1
INCIVO                    1
                         ..
DARUNAVIR/COBI/TAF/FTC    1
GSK1265744                1
REVERSET                  1
FOSTEMSAVIR               1
TMC207                    1
Name: count, Length: 117, dtype: int64

In [27]:
import unidecode

df_combined["Nom_introuvable_clean"] = (
    df_combined["Nom_introuvable"]
        .str.lower()                  # tout en minuscules
        .str.strip()                  # enlever espaces au début et à la fin
        .str.replace(r"\s+", " ", regex=True)  # remplacer espaces multiples
        .apply(unidecode.unidecode)   # enlever les accents
)

In [26]:
pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.4.0-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script unidecode.exe is installed in 'C:\Users\toufi\anaconda3\envs\arv_clean\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [28]:
df_combined["Nom_introuvable"].value_counts()

Nom_introuvable
VIDEX                     1
INTERFÉRON PEGYLÉ         1
DAKLINZA                  1
SOFOSBUVIR/LEDIPASVIR     1
INCIVO                    1
                         ..
DARUNAVIR/COBI/TAF/FTC    1
GSK1265744                1
REVERSET                  1
FOSTEMSAVIR               1
TMC207                    1
Name: count, Length: 117, dtype: int64